.jumbotron{
 position: relative;
 top: 80px;
 height: 800px;
 left: 120px;
 width: 1200px;
 border: none;
 box-shadow: 1px 1px 5px rgba(49, 21, 4, 0.4);
 background-color: hsla(0, 0%, 83%, 0.86);
 border-radius: 20px;
}

.list {
    position: relative;
    top: -30px;
    left: 100px;
    width: 150px;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	/*background-color: #0044cc;*/
}

form {
 position: relative;
 top: -50px;
}

#Info {
	position: relative;
	top: -70px;
}

#cal{
	position: relative;
	top: 15px;
	left: -15px;
}

div.well {
 box-shadow: 1px 1px 5px rgba(49, 21, 4, 0.4);
 width: 600px;
 padding: 100px;
 height: 700px;
 border: 10px #A9A9A9;
 margin: 100px;
 position: relative;
 top: -450px;
 left: 400px;
}
.text{
	position: relative;
	top: -20px;
	left: 20px;
}

