<link rel="stylesheet" href="../styles/bookings.css">
<div  id = "kolo" class="container">
<h1><u>Flight Details:</u></h1>



<h3>Flight number: </h3>
<h3>Departure time: </h3>
<h3>Arrival time: </h3>
<h3>Date: </h3>
<h3>Desired Class:</h3>
<h3><label class = "price">Price: </label></h3>
<div class="dropdown">
  <div class="classdropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="classpick">Choose a Class
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">First Class</a></li>
      <li><a href="#">Economy Class</a></li>
    </ul>
  </div>
  </div>


 <div class = "well">
  <h2 class = "seatpref">Seating Preference</h2>
  <form role="form">
    <div class="form-group">
      <div class="dropdown">
        <label>First pref    </label>
        <div class="seatdropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="seatpick">Choose a Seat
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Window Seat</a></li>
            <li><a href="#">Aisle Seat</a></li>
            <li><a href="#">Cabin Seat</a></li>
          </ul>
        </div>
        </div>
        <br><br>
      <div class="dropdown">
        <label>Second pref    </label>
        <div class="seatdropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="seatpick">Choose a Seat
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Window Seat</a></li>
            <li><a href="#">Aisle Seat</a></li>
            <li><a href="#">Cabin Seat</a></li>
          </ul>
        </div>
        </div>
        <br><br>
      <div class="dropdown">
        <label>Third pref    </label>
        <div class="seatdropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="seatpick">Choose a Seat
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Window Seat</a></li>
            <li><a href="#">Aisle Seat</a></li>
            <li><a href="#">Cabin Seat</a></li>
          </ul>
        </div>
        </div>
      </div>

      <div class="bookbuttondiv">
        <button type="submit" class="bookbutton">Book Flight</button>
      </div>
    </div>
  </form>
</div>
 </div>
</div>


</body>
</html>
