<link rel="stylesheet" href="../styles/bookings.css">

<div  id = "kolo" class="container">
<h1><u>Flight Details</u></h1>
<h3>Flight number:    {{OutFlight.flightNumber}} </h3>
<h3>Departure time:   {{OutFlight.departureDateTime}} </h3>
<h3>Arrival time:   {{OutFlight.arrivalDateTime}} </h3>
<h3>Desired Class: {{OutFlight.class}}</h3>
<h3><label class = "price">Price: ${{OutFlight.cost}} </label></h3>


 <div class = "well">
  <h2 class = "seatpref">Seating Preference</h2>
  <form role="form">

    <h3 class = "seattype">Seat Type</h3>
    <select class="list2" ng-model="selectedSeat" ng-change="selectSeat()">
      <option ng-value="Window" ng-selected="selectedSeat==selectedSeat">Window Seat</option>
      <option ng-value="Aisle">Aisle Seat</option>
      <option ng-value="Cabin">Cabin Seat</option>
    </select>


        <div class="bookbuttondiv">
            <a class="btn btn-primary" ng-click="bookFlights()">Book Flight</a>
        </div>

  </form>
</div>
 </div>
