<link rel="stylesheet" href="../styles/bookings.css">
<style type="text/css">
  #kolo{
    position: relative;
    top: 50px;
    height: 800px;
  }

  .well{
    position: relative;
    top: -700px;
    left: 500px;
  }

</style>
<div  id = "kolo" class="container">
<h1><u>Flight Details</u></h1>
<h2><u>Outgoing</u></h2>
<h3>Flight number:    {{OutFlight.flightNumber}} </h3>
<h3>Departure time:   {{OutFlight.departureDateTime}} </h3>
<h3>Arrival time:   {{OutFlight.arrivalDateTime}} </h3>
<h3>Desired Class: {{OutFlight.class}}</h3>
<h3><label class = "price">Price: ${{OutFlight.cost}} </label></h3>


<h2><u>Returning</u></h2>
<h3>Flight number:    {{RetFlight.flightNumber}} </h3>
<h3>Departure time:   {{RetFlight.departureDateTime}} </h3>
<h3>Arrival time:   {{RetFlight.arrivalDateTime}} </h3>
<h3>Desired Class: {{RetFlight.class}}</h3>
<h3><label class = "price">Price: ${{RetFlight.cost}} </label></h3>

 <div class = "well">
  <h2 class = "seatpref">Seating Preference</h2>
  <form role="form">

    <h3 class = "seattype">Seat Type</h3>
    <select class="list2" ng-model="selectedSeat" ng-change="selectSeat()">
      <option ng-value="Window" ng-selected="selectedSeat==selectedSeat">Window Seat</option>
      <option ng-value="Aisle">Aisle Seat</option>
      <option ng-value="Cabin">Cabin Seat</option>
    </select>


        <div class="bookbuttondiv">
            <a ng-click="bookFlights()"class="btn btn-primary">Book Flights</a>
        </div>

  </form>
</div>
 </div>
