<link rel="stylesheet" href="../styles/LandingPage.css">

<div class="container-fluid">
  <div class="well col-lg-3" style="top:50px; left:5%;">
    <h2> Book a Flight </h2> </br>

    <form role="form">
      <div class="form-group">
        <label for="text">From </label>
        <input type="text" class="form-control"  placeholder="Location" id="FromInput">
      </div>
      <div class="form-group">
        <label for="text">To </label>
        <input type="text" class="form-control"  placeholder="Location" id="ToInput">
      </div>
      <div class="row">
      <div class=" col-lg-6 col-sm-6">
        <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-calendar"></span>
          <input type="text"
                 class="form-control"
                 placeholder="Departure Date"
                 uib-datepicker-popup ng-model="date"
                 is-open="popupDep"
                 ng-required="true"
                 close-text="Close"/ >
        </div>
        <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-calendar"></span>
          <input type="text" class="form-control" placeholder="Return Date"> <!--appear when tick is clicked-->
        </div>
      </div>
      <div class="checkbox col-sm-offset-9 col-lg-offset-9" >
        <label><input type="checkbox"> Two way flight </label>
      </div>
      <button type="submit" class= "btn btn-primary col-sm-offset-9 col-lg-offset-9">Search</button>

    </div>
    </form>
</div>

<div class="well col-lg-6 col-lg-offset-2">
  <!--CAROUSEL! -->
  <div id="theCarousel" class="carousel slide" data-ride="carousel">

    <!-- Define how many slides to put in the carousel -->
    <ol class="carousel-indicators">
      <li data-target="#theCarousel" data-slide-to="0" class="active"> </li >
      <li data-target="#theCarousel" data-slide-to="1"> </li>
      <li data-target ="#theCarousel" data-slide-to="2"> </li>
    </ol >

    <!-- Define the text to place over the image -->
    <div class="carousel-inner">
      <div class="item active" >
      <div class ="slide1"></div>
      <div class="carousel-caption">
        <h1>Amazing Offers</h1>
        <p>Thousands of Flights world wide</p>
        <p><a href="#" class="btn btn-primary btn-sm">Book them Now</a></p>
      </div>
    </div>
    <div class="item">
    <div class="slide2"></div>
    <div class="carousel-caption">
      <h1>Thousands of Places</h1>
      <p>Every Place you can Imagine</p>
    </div>
    </div>
    <div class="item">
    <div class="slide3"></div>
    <div class="carousel-caption">
    <h1>Amazing Services</h1>
    <p>And they are All Available</p>
    </div>
    </div>
    </div>

    <!-- Set the actions to take when the arrows are clicked -->
    <a class="left carousel-control" href="#theCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"> </span>
    </a>
    <a class="right carousel-control" href="#theCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    </div>
</div>

</div>
