<link rel="stylesheet" href="../styles/outgoing.css">
<div class="container">
<h2>Current Outgoing Flights </h2>

<table class="table table-striped">
<thead>
      <tr>
        <th>Flight Number</th>
        <th>From</th>
        <th>To</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th>Price</th>
      </tr>
    </thead>
<tbody>
<tr ng-repeat="OFlight in OFlights">
        <td> <a href ng-click="setFlight(OFlight)">{{OFlight.flightNumber}}</a></td>
        <td>{{OFlight.origin}}</td>
        <td>{{OFlight.destination}}</td>
        <td>{{OFlight.departuredatetime}}</td>
        <td>{{OFlight.arrivaldatetime}}</td>
        <td>${{OFlight.price.economy}}</td>
</tr>
</tbody>
</table>
</div>


