<link rel="stylesheet" href="../styles/payment.css">
<div class="jumbotron">

  <div class="text"> <h2>  <u>Flight Details Confirmation</u> </h2> </div>

  <div class="container">
      <div class="num"> <h3> Flight Number: {{Flight.FlightNumber}} </h3> </div>
      <div class="dep"> <h3> Departure Time: {{Flight.Departure}} </h3> </div>
      <div class="arr"> <h3> Arrival Time: {{Flight.Arrival}} </h3> </div>
      <div class="date"> <h3> Date: {{Flight.Date}} </h3> </div>
      <div class="class"> <h3> Class: {{Class}}</h3> </div>
      <div class="seat"> <h3> Seat Type: {{Seat}}</h3> </div>
      <div class="price"> <h3> Price : ${{Flight.Price}}  </h3> </div>

  </div>

  <div class="well">
  <h2 id="Info">Credit Card Information</h2>
  <form role= "form">
    <div class="form-group">
      <label> Card Type : </label>
      <div class="f2">
      <select class="list">
          <option value="visa">Visa</option>
          <option value="paypal">Paypal</option>
          <option value="mastercard">Master Card</option>
        </select> 
      </div>


   
     <label> Card Number : </label>
     <input class="form-control" type="text">
   


   
     <label> Security Number : </label>
     <input class="form-control" type="text">
    
     <label>Email Address :</label>
     <input class="form-control" type="email" ></input>



   </div>
       <a type="button" href="#/"ng-click="confirm()"class="btn btn-primary">Confirm</a>
  </form>
</div>
