<link rel="stylesheet" href="../styles/payment.css">

<div class="jumbotron">

  <div class="text"> <h2>  <u>Flight Details Confirmation</u> </h2> </div>

  <div class="container">
      <div class="num"> <h3> Flight Number : </h3> </div>
      <div class="dep"> <h3> Departure Time : </h3> </div>
      <div class="arr"> <h3> Arrival Time : </h3> </div>
      <div class="date"> <h3> Date : </h3> </div>
      <div class="class"> <h3> Class : </h3> </div>
      <div class="price"> <h3> Price : </h3> </div>
      <div class="seat"> <h3> Seat Type : </h3> </div>
  </div>

  <div class="well">

    <div class="first">
      <div class="f1"><h2> Card Type : </h2></div>
      <div class="f2">
           <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Type<span class="caret"></span></button>
           <ul class="dropdown-menu">
               <li><a href="#">Visa</a></li>
               <li><a href="#">Master Card</a></li>
							 <li><a href="#">Paypal</a></li>
           </ul>
      </div>
   </div>


   <div class="second">
     <div class="s1"><h2> Card Number : </h2></div>
     <div class="s2"><input class="form-control" id="ex2" type="text"></div>
   </div>


   <div class="third">
     <div class="t1"><h2> Security Number : </h2></div>
     <div class="t2"><input class="form-control" id="ex2" type="text"></div>
   </div>


  <div class="fourth">
    <div class="btn"><button type="button" class="btn btn-primary">Confirm</button></div>
  </div>

  </div>

  </div>
