<link rel="stylesheet" href="../styles/track.css">
<div  id = "kolo" class="container">
<h1><u>Flight Tracking Details:</u></h1>



<h3>Flight number: {{Flight.flightNumber}}</h3>
<h3>From: {{Flight.origin}}</h3>
<h3>To: {{Flight.destination}}</h3>
<h3>Departure time: {{Flight.departureDateTime}}</h3>
<h3>Arrival time: {{Flight.arrivalDateTime}}</h3>
<h3>Current State: Unavailable </h3>
<h3>ETA: N/A</h3>


 <div class = "well">
  <h2>Enter the flight number</h2>
  <form role="form">
    <div class="form-group">
      <label>Flight:</label>
      <input type="text" class="form-control" ng-model="num" placeholder="Enter Number">
    </div>

    <button type="submit" class="btn btn-primary" ng-click="showData()">Track</button>
  </form>
 </div>
</div>
