<link rel="stylesheet" href="../styles/track.css">
<div  id = "kolo" class="container">
<h1><u>Flight Tracking Details:</u></h1>



<h3>Flight number: {{Flight.FlightNumber}}</h3>
<h3>From: {{Flight.From}}</h3>
<h3>To: {{Flight.To}}</h3>
<h3>Departure time: {{Flight.Departure}}</h3>
<h3>Arrival time: {{Flight.Arrival}}</h3>
<h3>Date: {{Flight.Date}}</h3>
<h3>Current State: {{message}} </h3>
<h3>ETA: N/A</h3>


 <div class = "well">
  <h2>Enter the flight number</h2>
  <form role="form">
    <div class="form-group">
      <label>Flight:</label>
      <input type="text" class="form-control" ng-model="num" placeholder="Enter Number">
    </div>

    <button type="submit" class="btn btn-primary" ng-click="showData()">Track</button>
  </form>
 </div>
</div>
